#app {
    font-family: 'Poppins', sans-serif;
}
::-webkit-scrollbar {
    width: 4px;
}
 
::-webkit-scrollbar-track {      
    background: #ffffff;
  }
  
::-webkit-scrollbar-thumb {
    background: #9B51E0;
    border-radius: 30px;
}